# Praktikum 1

## Praktikum 1

In [2]:
# Tipe variabel
Age = 23 #integer

In [5]:
print(type(Age))

<class 'int'>

In [6]:
#list
fruits = [] #empty list
fruits = ["apple", "banana"] #list with 2 elements
another_list = ["this is string", 10] #list with different types

print(fruits)
print(another_list)

combined = [fruits,another_list]
print(combined)

['apple', 'banana']
['this is string', 10]
[['apple', 'banana'], ['this is string', 10]]

In [8]:
#Add element to a list
fruits = ["apple", "banana"]
fruits.append("orange") #append is the syntax to add
print(fruits)

fruits = fruits + ["mango"]
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'mango']

In [1]:
#Tuple
#tuple is similar to list but immutable once created
# 1. list bisa ditambahkan isinya, kalau tuple tidak bisa
# 2. list bisa gabungan type datanya : string, numerik, dll
# 3. list menggunakan kurung siku, tuple kurung biasa, set menggunakan 
coordinate = (0, 5)
colors = ("red", "green", "blue")
print(coordinate)
print(colors)

(0, 5)
('red', 'green', 'blue')

In [4]:
### Data integration
import pandas as pd #untuk data frame, cukup ditulis pd.dataframe, 
import numpy as np

In [9]:
# Merging, untuk menggabungkan haarus adaa variabel yang sama, disini yaaitu 'key'
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A' : ['A0', 'A1', 'A2', 'A3'],
                    'B' : ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'C' : ['C0', 'C1', 'C2', 'C3'],
                    'D' : ['D0', 'D1', 'D2', 'D3']})

result1 = pd.merge(left, right, on='key')
print(result1)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [10]:
# Multiple key
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A' : ['A0', 'A1', 'A2', 'A3'],
                    'B' : ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C' : ['C0', 'C1', 'C2', 'C3'],
                    'D' : ['D0', 'D1', 'D2', 'D3']})
result2 = pd.merge(left, right, on=['key1','key2'])
result2

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [6]:
# Concatenating, menggabungkan data

In [11]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                    'C' : ['C0', 'C1', 'C2', 'C3'],
                    'D' : ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                    'C' : ['C4', 'C5', 'C6', 'C7'],
                    'D' : ['D4', 'D5', 'D6', 'D7']})
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                    'C' : ['C8', 'C9', 'C10', 'C11'],
                    'D' : ['D8', 'D5', 'D10', 'D11']})
frames = [df1, df2, df3]
result = pd.concat(frames)
result

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D5
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [12]:
import pandas as pd 
import numpy as np

In [13]:
# Marging
nilai1 = pd.read_csv("Nilai1.csv", sep=";")
nilai2 = pd.read_csv("Nilai2.csv",sep=";")

In [14]:
nilai_completed = pd.merge(nilai1, nilai2, on='Mahasiswa')
nilai_completed

  Mahasiswa  ujian1  ujian2  ujian3  ujian4
0         A      78      84      80      85
1         B      79      81      75      87
2         C      80      74      70      79