# Latihan Pre-processing Data pada Data Sydney

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('weatherAUS.csv')
data.head(11)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0.0,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,0.0,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0.0,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,1.4,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,0.0,No
10,2008-12-11,Albury,13.4,30.4,0.0,NaN,NaN,N,30.0,SSE,...,22.0,1011.8,1008.7,NaN,NaN,20.4,28.8,No,2.2,Yes

## Statistika Deskriptif

In [3]:
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [4]:
np.sum(data.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

## Missing Value

In [5]:
data['MinTemp']=data['MinTemp'].fillna((data['MinTemp'].mean()))
data['MaxTemp']=data['MaxTemp'].fillna((data['MaxTemp'].mean()))
data['Rainfall']=data['Rainfall'].fillna((data['Rainfall'].mean()))
data['Evaporation']=data['Evaporation'].fillna((data['Evaporation'].mean()))
data['Sunshine']=data['Sunshine'].fillna((data['Sunshine'].mean()))
data['WindGustSpeed']=data['WindGustSpeed'].fillna((data['WindGustSpeed'].mean()))
data['WindSpeed9am']=data['WindSpeed9am'].fillna((data['WindSpeed9am'].mean()))
data['WindSpeed3pm']=data['WindSpeed3pm'].fillna((data['WindSpeed3pm'].mean()))
data['Humidity9am']=data['Humidity9am'].fillna((data['Humidity9am'].mean()))
data['Humidity3pm']=data['Humidity3pm'].fillna((data['Humidity3pm'].mean()))
data['Pressure9am']=data['Pressure9am'].fillna((data['Pressure9am'].mean()))
data['Pressure3pm']=data['Pressure3pm'].fillna((data['Pressure3pm'].mean()))
data['Cloud9am']=data['Cloud9am'].fillna((data['Cloud9am'].mean()))
data['Cloud3pm']=data['Cloud3pm'].fillna((data['Cloud3pm'].mean()))
data['Temp9am']=data['Temp9am'].fillna((data['Temp9am'].mean()))
data['Temp3pm']=data['Temp3pm'].fillna((data['Temp3pm'].mean()))
data['RISK_MM']=data['RISK_MM'].fillna((data['RISK_MM'].median()))
np.sum(data.isnull())

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RISK_MM              0
RainTomorrow      3267
dtype: int64

In [6]:
from scipy.stats import mode
data['WindGustDir']=data['WindGustDir'].fillna(data['WindGustDir']).dropna().mode()[0]
data['WindDir9am']=data['WindDir9am'].fillna(data['WindDir9am']).dropna().mode()[0]
data['WindDir3pm']=data['WindDir3pm'].fillna(data['WindDir3pm']).dropna().mode()[0]
data['RainToday']=data['RainToday'].fillna(data['RainToday']).dropna().mode()[0]
data['RainTomorrow']=data['RainTomorrow'].fillna(data['RainTomorrow']).dropna().mode()[0]
np.sum(data.isnull())

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

## Outliers

In [7]:
from scipy import stats
data1=data.drop(['WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],1)
z = np.abs(stats.zscore(data1._get_numeric_data()))
print(z)
datahapusoutlier = data[(z < 3).all(axis=1)]
print(data.shape)

[[1.89446615e-01 4.53363105e-02 2.10071794e-01 ... 1.40531282e-02
  1.70232282e-02 2.75065815e-01]
 [7.53100728e-01 2.65043084e-01 2.81649838e-01 ... 3.24642790e-02
  3.81984952e-01 2.75065815e-01]
 [1.10901003e-01 3.49692009e-01 2.81649838e-01 ... 6.21684769e-01
  2.21401794e-01 2.75065815e-01]
 ...
 [1.06728318e+00 5.18989861e-01 2.81649838e-01 ... 6.96308433e-01
  6.44757393e-01 2.75065815e-01]
 [6.90264238e-01 5.33098015e-01 2.81649838e-01 ... 2.93157571e-01
  6.30158924e-01 2.75065815e-01]
 [4.25083451e-01 2.10513377e-14 2.81649838e-01 ... 3.08663373e-01
  1.14362992e-01 2.75065815e-01]]
(145460, 24)

In [8]:
datahapusoutlier.head(11)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.468232,7.611178,W,44.0,N,...,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.468232,7.611178,W,44.0,N,...,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.468232,7.611178,W,46.0,N,...,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.468232,7.611178,W,24.0,N,...,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.468232,7.611178,W,41.0,N,...,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,0.2,No
5,2008-12-06,Albury,14.6,29.7,0.2,5.468232,7.611178,W,56.0,N,...,23.0,1009.2,1005.4,4.447461,4.50993,20.6,28.9,No,0.0,No
6,2008-12-07,Albury,14.3,25.0,0.0,5.468232,7.611178,W,50.0,N,...,19.0,1009.6,1008.2,1.000000,4.50993,18.1,24.6,No,0.0,No
7,2008-12-08,Albury,7.7,26.7,0.0,5.468232,7.611178,W,35.0,N,...,19.0,1013.4,1010.1,4.447461,4.50993,16.3,25.5,No,0.0,No
9,2008-12-10,Albury,13.1,30.1,1.4,5.468232,7.611178,W,28.0,N,...,27.0,1007.0,1005.7,4.447461,4.50993,20.1,28.2,No,0.0,No
10,2008-12-11,Albury,13.4,30.4,0.0,5.468232,7.611178,W,30.0,N,...,22.0,1011.8,1008.7,4.447461,4.50993,20.4,28.8,No,2.2,No
11,2008-12-12,Albury,15.9,21.7,2.2,5.468232,7.611178,W,31.0,N,...,91.0,1010.5,1004.2,8.000000,8.00000,15.9,17.0,No,15.6,No

## Transformasi

In [9]:
datadrop=datahapusoutlier.drop(['WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow','Date','Location'],1)
from sklearn.preprocessing import normalize
norm = normalize(datadrop, norm = 'l2')
norm = pd.DataFrame(norm)
norm.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
134748,0.001934,0.016161,0.0,0.003777,0.005257,0.021410,0.008978,0.007597,0.035222,0.016575,0.707626,0.704656,0.003072,0.003115,0.006975,0.015470,0.0
134749,0.002489,0.017492,0.0,0.003781,0.005262,0.015211,0.008988,0.006223,0.038718,0.014519,0.707643,0.704601,0.003075,0.003118,0.007536,0.016939,0.0
134750,0.003742,0.018639,0.0,0.003789,0.005274,0.025637,0.006236,0.006236,0.036723,0.016629,0.707433,0.704523,0.003082,0.003125,0.008661,0.018084,0.0
134751,0.005410,0.018728,0.0,0.003793,0.005279,0.019422,0.009017,0.004855,0.035376,0.016647,0.707095,0.705083,0.002081,0.001387,0.010474,0.018035,0.0
134752,0.010317,0.016078,0.0,0.003786,0.005270,0.027720,0.011771,0.011771,0.042929,0.024926,0.706382,0.704790,0.005539,0.005539,0.010386,0.014471,0.0

In [10]:
transformasi_sigmoidal = (1-2.718281828**(-norm))/(1+2.718281828**(-norm))
transformasi_sigmoidal = pd.DataFrame(transformasi_sigmoidal)
print(transformasi_sigmoidal)

              0         1         2         3         4         5         6   \
0       0.004691  0.008017  0.000210  0.001914  0.002665  0.015403  0.007002
1       0.002588  0.008779  0.000000  0.001913  0.002662  0.015388  0.001399
2       0.004516  0.008996  0.000000  0.001914  0.002664  0.016101  0.006651
3       0.003200  0.009739  0.000000  0.001902  0.002647  0.008348  0.003826
4       0.006116  0.011289  0.000350  0.001911  0.002660  0.014329  0.002447
5       0.005112  0.010398  0.000070  0.001915  0.002665  0.019604  0.006652
6       0.005001  0.008743  0.000000  0.001912  0.002662  0.017485  0.006995
7       0.002687  0.009316  0.000000  0.001908  0.002656  0.012212  0.002094
8       0.004594  0.010555  0.000491  0.001918  0.002669  0.009818  0.005260
9       0.004682  0.010622  0.000000  0.001911  0.002659  0.010482  0.005940
10      0.005554  0.007580  0.000768  0.001910  0.002659  0.010828  0.005240
11      0.004437  0.007394  0.001268  0.001925  0.002680  0.015492  0.008450
12      0.002937  0.008600  0.000000  0.001912  0.002661  0.013996  0.001398
13      0.003417  0.009659  0.000823  0.001907  0.002654  0.017433  0.004897
14      0.004913  0.007282  0.000000  0.001905  0.002652  0.007665  0.003833
15      0.004734  0.008030  0.005891  0.001918  0.002669  0.022088  0.002104
16      0.003915  0.007865  0.003705  0.001912  0.002661  0.015030  0.008389
17      0.003399  0.008878  0.000000  0.001896  0.002640  0.009017  0.005896
18      0.003991  0.010168  0.000000  0.001898  0.002641  0.008329  0.003123
19      0.005969  0.011519  0.000000  0.001909  0.002657  0.015009  0.005934
20      0.007183  0.011142  0.000000  0.001916  0.002667  0.014366  0.006658
21      0.005348  0.010801  0.000000  0.001911  0.002661  0.011535  0.002097
22      0.004396  0.011303  0.000000  0.001908  0.002655  0.015001  0.001396
23      0.005665  0.011855  0.000000  0.001912  0.002662  0.012239  0.003147
24      0.005930  0.011579  0.000000  0.001919  0.002671  0.019998  0.000000
25      0.007064  0.011493  0.000000  0.001922  0.002675  0.016869  0.004569
26      0.006919  0.009553  0.000000  0.001921  0.002673  0.016155  0.006673
27      0.004383  0.008485  0.000421  0.001917  0.002669  0.017529  0.003857
28      0.004212  0.008564  0.000281  0.001919  0.002671  0.013688  0.005967
29      0.003971  0.009312  0.000000  0.001921  0.002674  0.019675  0.006676
...          ...       ...       ...       ...       ...       ...       ...
134723  0.003225  0.009710  0.000000  0.001896  0.002639  0.009710  0.002081
134724  0.002769  0.008513  0.000000  0.001892  0.002634  0.011420  0.003807
134725  0.004381  0.007658  0.000000  0.001886  0.002625  0.012762  0.006554
134726  0.003236  0.007814  0.000000  0.001882  0.002620  0.012048  0.004475
134727  0.001855  0.007041  0.000000  0.001878  0.002614  0.015799  0.006869
134728  0.001922  0.006657  0.000000  0.001876  0.002612  0.014754  0.007549
134729  0.000515  0.006590  0.000000  0.001877  0.002613  0.012700  0.005835
134730  0.001307  0.006811  0.000000  0.001881  0.002618  0.013416  0.006536
134731  0.001551  0.006479  0.000000  0.001885  0.002623  0.010684  0.004481
134732  0.001687  0.007128  0.000000  0.001883  0.002621  0.012741  0.005854
134733  0.000412  0.007147  0.000000  0.001879  0.002615  0.014773  0.004467
134734  0.000172  0.007462  0.000000  0.001880  0.002617  0.014786  0.004470
134735  0.001373  0.006863  0.000000  0.001877  0.002612  0.013383  0.004461
134736  0.001165  0.006786  0.000000  0.001874  0.002609  0.014738  0.006512
134737  0.001097  0.006379  0.000000  0.001875  0.002610  0.015774  0.005144
134738  0.000824  0.006558  0.000000  0.001878  0.002613  0.011330  0.005837
134739  0.001752  0.006769  0.000000  0.001879  0.002615  0.015804  0.004467
134740  0.000861  0.007299  0.000000  0.001883  0.002621  0.012050  0.005853
134741  0.000792  0.007372  0.000000  0.001884  0.002622  0.007578  0.003789
134742  0.000897  0.007764  0.000000  0.001887  0.002626  0.006556  0.003106
134743  0.001797  0.008396  0.000000  0.001889  0.002630  0.008292  0.003801
134744  0.002206  0.008064  0.000000  0.001884  0.002623  0.010683  0.005169
134745  0.002751  0.007118  0.000000  0.001880  0.002617  0.014098  0.006533
134746  0.002547  0.007090  0.000000  0.001882  0.002620  0.012046  0.005163
134747  0.001208  0.007522  0.000000  0.001887  0.002626  0.010697  0.005176
134748  0.000967  0.008080  0.000000  0.001888  0.002628  0.010704  0.004489
134749  0.001245  0.008746  0.000000  0.001890  0.002631  0.007605  0.004494
134750  0.001871  0.009319  0.000000  0.001894  0.002637  0.012818  0.003118
134751  0.002705  0.009364  0.000000  0.001896  0.002640  0.009711  0.004509
134752  0.005158  0.008039  0.000000  0.001893  0.002635  0.013859  0.005885

              7         8         9         10        11        12        13  \
0       0.008402  0.024851  0.007702  0.338842  0.338656  0.002801  0.001579
1       0.007694  0.015388  0.008744  0.339443  0.338576  0.001556  0.001577
2       0.009101  0.013301  0.010501  0.338784  0.339124  0.001557  0.000700
3       0.003130  0.015651  0.005565  0.339876  0.338398  0.001547  0.001569
4       0.006990  0.028653  0.011534  0.339293  0.337807  0.002447  0.002796
5       0.008403  0.019254  0.008053  0.339335  0.338157  0.001557  0.001579
6       0.008394  0.017136  0.006645  0.339118  0.338685  0.000350  0.001577
7       0.005932  0.016747  0.006630  0.339572  0.338553  0.001552  0.001574
8       0.003857  0.020336  0.009468  0.339137  0.338734  0.001560  0.001581
9       0.002096  0.016770  0.007687  0.339505  0.338547  0.001554  0.001576
10      0.004541  0.031079  0.031777  0.339019  0.337070  0.002795  0.002795
11      0.007042  0.022883  0.015140  0.338622  0.338809  0.001566  0.002465
12      0.010488  0.019925  0.011187  0.339035  0.338725  0.001555  0.001577
13      0.007671  0.017433  0.009763  0.339359  0.338402  0.000000  0.001573
14      0.003136  0.024037  0.028563  0.338745  0.338190  0.002787  0.000348
15      0.007013  0.028046  0.022789  0.338765  0.337647  0.002805  0.000351
16      0.005943  0.016428  0.011186  0.338904  0.338997  0.001555  0.000699
17      0.002081  0.015605  0.009017  0.339441  0.338796  0.001542  0.001564
18      0.003123  0.019432  0.009717  0.339694  0.338312  0.001543  0.001565
19      0.007680  0.013264  0.009774  0.339765  0.338066  0.001553  0.000349
20      0.007008  0.018920  0.008410  0.339156  0.338504  0.001558  0.001580
21      0.004544  0.019223  0.008040  0.339386  0.338520  0.001748  0.001576
22      0.006629  0.017093  0.005931  0.339369  0.338504  0.001552  0.001573
23      0.004546  0.015736  0.006644  0.339497  0.338475  0.001555  0.000350
24      0.009123  0.014386  0.009825  0.339283  0.338289  0.001561  0.000351
25      0.010544  0.019680  0.005272  0.339295  0.338206  0.001563  0.001585
26      0.010536  0.017208  0.007727  0.338947  0.338760  0.001562  0.001584
27      0.007714  0.027342  0.024539  0.338667  0.337984  0.002805  0.002805
28      0.005967  0.016846  0.009827  0.339151  0.338840  0.000351  0.001583
29      0.010893  0.016163  0.009136  0.339009  0.338605  0.001563  0.001585
...          ...       ...       ...       ...       ...       ...       ...
134723  0.003815  0.012484  0.005549  0.339643  0.338723  0.001542  0.001564
134724  0.004499  0.015918  0.008651  0.339543  0.338654  0.001384  0.001561
134725  0.004484  0.020349  0.011728  0.339321  0.338527  0.002760  0.002760
134726  0.005852  0.021340  0.011015  0.339389  0.338475  0.002754  0.001377
134727  0.009617  0.019232  0.010991  0.339482  0.338296  0.001528  0.001549
134728  0.008235  0.020929  0.007549  0.339307  0.338547  0.001526  0.001548
134729  0.007551  0.015445  0.006179  0.339736  0.338520  0.001527  0.001548
134730  0.005848  0.014448  0.007568  0.339823  0.338423  0.001530  0.001552
134731  0.005170  0.014475  0.008961  0.339856  0.338484  0.001533  0.001554
134732  0.008265  0.013085  0.003788  0.339648  0.338673  0.001532  0.001553
134733  0.009620  0.009964  0.002062  0.339768  0.338582  0.001528  0.001550
134734  0.006878  0.009285  0.006534  0.339789  0.338572  0.001529  0.001551
134735  0.008922  0.019901  0.008922  0.339509  0.338446  0.001526  0.001548
134736  0.008226  0.018507  0.007883  0.339615  0.338371  0.001524  0.001546
134737  0.006859  0.019202  0.009945  0.339541  0.338388  0.001525  0.001547
134738  0.005837  0.020255  0.008240  0.339610  0.338455  0.001527  0.001548
134739  0.005841  0.019239  0.009964  0.339376  0.338555  0.001528  0.001550
134740  0.006542  0.019623  0.011017  0.339624  0.338344  0.001531  0.001553
134741  0.002411  0.020666  0.009645  0.339693  0.338443  0.001532  0.001554
134742  0.002415  0.020356  0.008281  0.339643  0.338544  0.001535  0.001556
134743  0.003801  0.018310  0.008292  0.339682  0.338520  0.001537  0.001558
134744  0.005858  0.018263  0.008615  0.339482  0.338628  0.001533  0.001554
134745  0.008940  0.019254  0.011003  0.339504  0.338347  0.001529  0.002407
134746  0.005851  0.021681  0.011358  0.339528  0.338339  0.001531  0.001552
134747  0.004486  0.020356  0.009317  0.339557  0.338488  0.001535  0.001556
134748  0.003798  0.017609  0.008287  0.339753  0.338438  0.001536  0.001557
134749  0.003111  0.019357  0.007260  0.339760  0.338414  0.001537  0.001559
134750  0.003118  0.018359  0.008314  0.339668  0.338380  0.001541  0.001562
134751  0.002428  0.017686  0.008323  0.339518  0.338628  0.001040  0.000694
134752  0.005885  0.021461  0.012462  0.339203  0.338498  0.002770  0.002770

              14        15        16
0       0.005916  0.007632  0.000000
1       0.006016  0.008499  0.000000
2       0.007351  0.008121  0.000000
3       0.006296  0.009217  0.000348
4       0.006221  0.010380  0.000070
5       0.007212  0.010118  0.000000
6       0.006330  0.008603  0.000000
7       0.005688  0.008898  0.000000
8       0.007048  0.009888  0.000000
9       0.007128  0.010063  0.000769
10      0.005554  0.005938  0.005449
11      0.005563  0.006972  0.000000
12      0.005559  0.008216  0.000000
13      0.006032  0.009136  0.000000
14      0.005993  0.006306  0.005853
15      0.006312  0.007539  0.003717
16      0.005418  0.007341  0.000000
17      0.005479  0.008046  0.000000
18      0.006629  0.009474  0.000000
19      0.008552  0.011030  0.000000
20      0.008339  0.010792  0.000000
21      0.007306  0.010137  0.000000
22      0.007501  0.010885  0.000000
23      0.008113  0.011540  0.000000
24      0.009334  0.010948  0.000000
25      0.008646  0.011282  0.000000
26      0.007586  0.009166  0.000421
27      0.004383  0.006381  0.000280
28      0.005932  0.007967  0.000000
29      0.006922  0.009031  0.000000
...          ...       ...       ...
134723  0.005757  0.009467  0.000000
134724  0.004776  0.008132  0.000000
134725  0.004795  0.007244  0.000000
134726  0.004062  0.007677  0.000000
134727  0.003813  0.006938  0.000000
134728  0.003329  0.006280  0.000000
134729  0.002334  0.006041  0.000000
134730  0.002959  0.006502  0.000000
134731  0.003274  0.006411  0.000000
134732  0.003547  0.006818  0.000000
134733  0.002714  0.006837  0.000000
134734  0.003267  0.007049  0.000000
134735  0.003123  0.006520  0.000000
134736  0.002982  0.006478  0.000000
134737  0.002812  0.005967  0.000000
134738  0.002747  0.006455  0.000000
134739  0.002921  0.006597  0.000000
134740  0.003546  0.006989  0.000000
134741  0.003066  0.006993  0.000000
134742  0.003037  0.007626  0.000000
134743  0.004250  0.008050  0.000000
134744  0.003860  0.007960  0.000000
134745  0.003989  0.006877  0.000000
134746  0.003786  0.006987  0.000000
134747  0.003244  0.007212  0.000000
134748  0.003488  0.007735  0.000000
134749  0.003768  0.008469  0.000000
134750  0.004330  0.009042  0.000000
134751  0.005237  0.009017  0.000000
134752  0.005193  0.007235  0.000000

[134753 rows x 17 columns]

In [11]:
# Transformasi Data Kategorikal
data['RainToday'].replace({'No':0, 'Yes':1},inplace=True)
data['RainTomorrow'].replace({'No':0, 'Yes':1},inplace=True)
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
aa=le.fit(data.iloc[0:,3])
a=le.transform(data.iloc[0:,3])
bb=le.fit(data.iloc[0:,5])
b=le.transform(data.iloc[0:,5])
cc=le.fit(data.iloc[0:,6])
c=le.transform(data.iloc[0:,6])
data['WindGustDir']=a
data['WinDir9am']=b
data['winDir3pm']=c
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,WinDir9am,winDir3pm
0,2008-12-01,Albury,13.4,22.9,0.6,5.468232,7.611178,262,44.0,N,...,1007.1,8.000000,4.50993,16.9,21.8,0,0.0,0,55,77
1,2008-12-02,Albury,7.4,25.1,0.0,5.468232,7.611178,285,44.0,N,...,1007.8,4.447461,4.50993,17.2,24.3,0,0.0,0,55,77
2,2008-12-03,Albury,12.9,25.7,0.0,5.468232,7.611178,291,46.0,N,...,1008.7,4.447461,2.00000,21.0,23.2,0,0.0,0,55,77
3,2008-12-04,Albury,9.2,28.0,0.0,5.468232,7.611178,314,24.0,N,...,1012.8,4.447461,4.50993,18.1,26.5,0,1.0,0,55,77
4,2008-12-05,Albury,17.5,32.3,1.0,5.468232,7.611178,357,41.0,N,...,1006.0,7.000000,8.00000,17.8,29.7,0,0.2,0,55,77